// Fonts
$baseFontSize: 16

// Colors
$amaranth: #e73d5a
$deep-coral: #ff3c52
$white: #ffffff
$black: #000000
$rose-pig: #fef2f2
$red-fire-engine: #d41d31
$dark-red: #311c20
$marengo: #415160
$crimson: #e82b41

$text-color: $marengo

// Variables
$screen-min-sm: "(min-width: 576px)"
$screen-min-md: "(min-width: 768px)"
$screen-min-lg: "(min-width: 992px)"
$screen-min-xl: "(min-width: 1200px)"

$screen-max-sm: "(max-width: 576px)"
$screen-max-md: "(max-width: 768px)"
$screen-max-lg: "(max-width: 992px)"
$screen-max-xl: "(max-width: 1200px)"

//fonts
$font: "Roboto", sans-serif
$light: 300
$normal: 400
$medium: 500
$bold: 700

// Минимальная высота карточки
$height-card: 190px