.add-todo
    display: flex
    justify-content: center
    margin-bottom: rem(20px)

    &__input
        width: 50%

        @media #{$screen-max-sm}
            width: 70%

    &__button
        display: flex
        align-items: center

        &:active &
            &-icon
                color: $white

        &-text
            margin-left: rem(5px)

        &-icon
            transition: .5s color
