.icon
    // sizes
    &--square_15
        $size: 15px

        width: rem($size)
        height: rem($size)

    &--square_10
        $size: 10px

        width: rem($size)
        height: rem($size)

    // colors
    &--white
        color: $white
    &--red
        color: $red-fire-engine
