.input
    padding: rem(10px)
    transition: .5s border-color
    outline: none

    &--add
        border: rem(1px) solid $rose-pig
        border-radius: rem(8px) 0 0 rem(8px)

        &:hover
            border-color: rgba($amaranth, .3)

        &:focus
            border-color: $amaranth

        &::placeholder
            color: rgba($red-fire-engine, .5)

    &--area
        overflow: hidden
        width: 100%
        resize: none
        border: none

    &--editable
        display: block
        width: 100%
        padding: 0 0 rem(5px) 0
        cursor: text
        border-width:  0 0 rem(1px) 0
        border-style: solid
        border-color: $amaranth

