.scroll
    &__thumb
        &-vertical
            border-radius: rem(8px)
            background-color: rgba($amaranth, .9)

    &__area
        overflow: hidden
        border: rem(1px) solid $amaranth
